<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmulla.musicplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CurrentSong" />

        <receiver android:name=".ChangeStateReceiver">

            <!--<intent-filter>
                <action android:name="com.jmulla.musicplayer.CHANGE_STATE_BUTTON_CLICKED"></action>
            </intent-filter>-->

        </receiver>
        <receiver android:name=".NextButtonReceiver">

            <!--<intent-filter>
                <action android:name="com.jmulla.musicplayer.NEXT_BUTTON_CLICKED"></action>
            </intent-filter>-->

        </receiver>
        <receiver android:name=".BackButtonReceiver">

            <!--<intent-filter>
                <action android:name="com.jmulla.musicplayer.BACK_BUTTON_CLICKED"></action>
            </intent-filter>-->

        </receiver>
        <service
            android:name=".AudioService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>